<!-- about.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'axter_chat/about2.css' %}">
</head>
<body>
    <header>
        <h2 class="logo">axter corp.</h2>
        <nav class="navigation">
            <a href="{% url 'axter_chat:axter' %}">Axter</a>
            <a href="{% url 'axter_chat:about2' %}">About</a>
            <a href="{% url 'axter_chat:contact2' %}">Contact</a>
            <a href="{% url 'axter_chat:logout' %}">
                <button class="btnLogin-popup">Logout</button>
            </a> 
        </nav>
    </header>
    
    <div class="section">
        <div class="container">
            <div class="content-section">
                <h2 class="title">About Us</h2>
                <p class="text">
                    Axter chat is your health bot, shooting questions about your health and giving you the best advice on how to stay healthy.
                    This application is inspired from Ada, which synthesizes symptom information to help users find possible causes for their symptoms.
                    Therefore we can say, Axter chat is a chatbot that asks users questions about their symptoms and provides them with a list of possible causes.
                    It is in its initial development stage and will be improved in the future with more features, like the ability to book appointments with doctors, integrate calenders and seek for online diagnostics report.    
                </p>
                <div class="btn-container">
                    <a href="{% url 'axter_chat:contact2' %}">
                        <button class="btn">Contact Us</button>
                    </a>
                </div>
                <div class="social">
                    <a href= ""><i class="fa fa-facebook-f"></i></a>
                    <a href= ""><i class="fa fa-twitter"></i></a>
                    <a href =""><i class="fa fa-instagram-f"></i></a>
                </div>
            </div>
            <div class="img-section">
                <img src="{% static 'background.jpg' %}">
        </div>
    </div>

   
</body>
</html>
