<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'axter_chat/contact.css' %}">
</head>
<body>
    <header>
        <h2 class="logo">axter corp.</h2>
        <nav class="navigation">
            <a href="{% url 'axter_chat:index' %}">Home</a>
            <a href="{% url 'axter_chat:about' %}">About</a>
            <a href="{% url 'axter_chat:contact' %}">Contact</a>
            <a href="{% url 'axter_chat:index' %}">
            <button class="btnLogin-popup">Login</button>
            </a>
        </nav>
    </header>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <h2 class="title">Contact</h2>
                <p class="text">
                    Feel free to reach out to us if you have any questions or feedback.</p>
                    Our email address is: ashwinnanda@outlook.com
                </p>
                <div class="btn-container">
                    <a href="{% url 'axter_chat:index' %}">
                        <button class="btn">chat with axter.</button>
                    </a>
                </div>
            </div>
        </div>
    </div>


    
    
    <footer>
        <p>&copy; 2023 Axter Chat</p>
    </footer>

</body>

</html>