<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'axter_chat/contact.css' %}">
</head>
<body>
    <header>
        <h2 class="logo">axter corp.</h2>
        <nav class="navigation">
            <a href="{% url 'axter_chat:axter' %}">Axter</a>
            <a href="{% url 'axter_chat:about2' %}">About</a>
            <a href="{% url 'axter_chat:contact2' %}">Contact</a>
            <a href="{% url 'axter_chat:logout' %}">
                <button class="btnLogin-popup">Logout</button>
            </a> 
        </nav>
    </header>
    


    <section class="about-section">
        <h1>Contact Us</h1>
        <p>Feel free to reach out to us if you have any questions or feedback.</p>
        <p>Our email address is: ashwinnanda@outlook.com</p>
    </section>

</body>

</html>