<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'axter_chat/homepage.css' %}">
</head>
<body>
    <header>
        <h2 class="logo">Logo</h2>
        <nav class="navigation">
            <a href="{% url 'axter_chat:index' %}">Home</a>
            <a href="{% url 'axter_chat:about' %}">About</a>
            <a href="{% url 'axter_chat:contact' %}">Contact</a>
            <button class="btnLogin-popup">Account</button>           
    </header>

    <div class="wrapper">
        <span class="close-icon"><ion-icon name="close"></ion-icon></span>
        <div class="form-box login">
            <h2>passbook</h2>
            <form action = "{% url 'axter_chat:login' %}" method="post">
                {% csrf_token %}
                <div class="input-box">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <input type="text" required placeholder="Username" id="username" name="username">
                    <label for="username"></label>
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="key-outline"></ion-icon></ion-icon></span>
                    <input type="password" required placeholder="Password" id="pasword" name="pass">
                    <label for="passowrd"></label>
                </div>

                <div class="remember-forgot">
                    <label><input type="checkbox">remember me</label>
                    <a href="#">forgot password?</a>
                </div>

                <button type="submit" class="btn">login</button>

                <div class="login-register">
                    <p>create a new account! <a href="#" class="register-link">register</a></p>

                </div>
            </form>
        </div>



        <div class="form-box register">
            <h2>entrybook</h2>
            <form action = "{% url 'axter_chat:register' %}" method="post">
                {% csrf_token %}
                <div class="input-box">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <input type="text" required placeholder="Username" name="username" id ="username">
                    <label for="username"></label>
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="key-outline"></ion-icon></ion-icon></span>
                    <input type="password"  required placeholder="Password" name="password1" id ="password1">
                    <label for="password1"></label>
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="key-outline"></ion-icon></ion-icon></span>
                    <input type="password" required placeholder="Confirm Password" name="password2" id ="password2">
                    <label for="passowrd2"></label>
                </div>

                <div class="remember-forgot">
                    <label><input type="checkbox">you agree to terms and conditions.</label>
                </div>

                <button type="submit" class="btn">sign up</button>

                <div class="login-register">
                    <p>already have an account? <a href="#" class="login-link">passbook</a></p>

                </div>
            </form>
        </div>


    </div>


    <script src="{% static 'axter_chat/login.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        function validatePassword() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
    
            if (password !== confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        }
    </script>    
    

</body>
</html>
