<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>

{% load static %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'axter_chat/style.css' %}">
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
</head>
<body>

<h1>Axter: The healthy chatbot!</h1>

<div>
    <div id="chatbot">
        <p class="botText"><span> Axter here!</span></p>
    </div>

    <div id="userInput">
        <input id="textInput" type="text" name="userMessage" placeholder="Message">
        <button id="buttonInput">Send</button>

    </div>
</div>
<script>
    function getUserMessage() {
        var userText = $("#textInput").val();
        var userHTML = '<p class="userText"><span>' + userText + '</span></p>';
        $('#textInput').val('');
        return userText;

        $('#chatbot').append(userHTML);
    }

    $("#textInput").keypress(function(e) {
        if(e.which == 13) {
            getUserMessage();
        }
    });

    $("#buttonInput").click(function() {
        getUserMessage();
    });


</script>

</body>
</html>