/* Overall chatbot container */
#chatbot {
  width: 80%;
  max-width: 600px; /* Set a maximum width to avoid excessive width on larger screens */
  margin: 50px auto; /* Center the chatbot container horizontally with top margin */
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden; /* Prevent the chat messages from overflowing the container */
}

/* Bot's messages */
.botText {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 70%; /* Reduce the width to leave space for the user input */
  clear: both;
  float: left;
}

/* User input area */
#userInput {
  margin-top: 10px; /* Add some space between the chat messages and user input area */
  text-align: center;
}

/* Text input field */
#textInput {
  width: 80%; /* Increase the width to make it more user-friendly */
  border-radius: 20px; /* Increase the border radius for a smoother look */
  font-family: monospace; /* Use a monospace font to enable tab character */
  font-size: 15px;

  border: 1px solid #ccc;
  padding: 12px;
  box-sizing: border-box; /* Ensure padding doesn't affect the overall width */
}
